{% extends 'base.html' %}


{% block title %}
Список товаров
{% endblock %}

{% block content %}

<h2 class="mt-4">Список товаров</h2>

{% if user.is_authenticated %}
    <a href="{% url 'add_product' %}" class="btn btn-outline-primary mb-3">Добавить товар</a>
{% endif %}

<div class="row">
    {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                    <p class="card-text">Цена: {{ product.price }} единиц</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'purchase_product' product.id %}" class="btn btn-success">Купить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Нет доступных товаров.</p>
        </div>
    {% endfor %}
</div>

<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}

        {% for num in products.paginator.page_range %}
            {% if products.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                </li>
            {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

