<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bank lotkov  - thanks</title>
</head>
<body>
    <h1>special thanks</h1>
    <p>Мягких Никита - создатель</p>
    <p>Барановский Леонид - глав помощник в работе наличных</p>
    <p>Шимановский Илья - глав помощник в работе наличных</p>
    <p>Маршалков Даниил - налоговая служба</p>
    <p>стили портфолио - <a href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">css</a></p>
    <p>django - <a href="https://www.djangoproject.com">DJANGO SITE</a></p>
    <b>LOTOKBANK</b>
</body>
</html>